<div class="container">

	<div class="jumbotron p-0 mx-auto">
		<img src="/assets/img/burger.png" alt="burger" />
		<h1> Eat-Da-Burger! </h1>
	</div>

	<div class="row mt-5">

		<div class="col-sm-5">
			<ul class="list-group">
				<h3 class="text-center">Burgers Ready to Eat!</h3>
				{{#each burger_data}}
				{{#unless this.devoured}}
				<li class="list-group-item">
					<div class="input-group">
						<p>{{this.id}}. {{this.burger_name}}</p>
						
							<form class="devour-form">
								<span><input type="hidden" class="burger_id" type="text" value={{this.id}}></span>
								<button type="submit" <i class="fas fa-hamburger fa-2x"></i></button>
								
							</form>
						
					</div>
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-5">
			<h3 class="text-center">Burgers Devoured!</h3>
			{{#each burger_data}}
			{{#if this.devoured}}
			<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}">
			<button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span
				 class="fa fa-trash"></span></button>
			{{/if}}
			{{/each}}
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center enter_section">

				<form action="/burgers/create" method="POST">
					<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
					<p>Enter a new burger you want to eat...</p>
					<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
				</form>

			</div>
		</div>
	</div>