<div class="container">

	<div class="jumbotron p-0 mx-auto">
		<img src="/assets/img/burger.png" alt="burger" />
		<h1> Eat-Da-Burger! </h1>
		<hr>
	</div>

	<div class="row mt-5">

		<div class="col-5">
			<ul class="list-group">
				<h3 class="text-center">Burgers Ready to Eat!</h3>
				<h6 class="text-center">(Click button to Devour It!)</h6>
				{{#each burger_data}}
				{{#unless this.devoured}}
				<li class="list-group-item">
					<div class="input-group">
						<p><strong>{{this.id}}. {{this.burger_name}}</strong></p>

						<form class="devour-form">
							<input type="hidden" class="burger_id" type="text" value={{this.id}}>
							<button type="submit" style="background-color: #ffc95e"><i class="fas fa-hamburger fa-2x"></i></button>

						</form>

					</div>
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class="col-2"></div>
		<div class="col-5">
			<h3 class="text-center">Burgers Devoured!</h3>
			<h6 class="text-center">(Click button to remove from list...)</h6>
			{{#each burger_data}}
			{{#if this.devoured}}
			<li class="list-group-item">
				<div class="input-group">
					<input class="form-control" id="form" type="text" placeholder="{{this.id}} . {{this.burger_name}}">
					<button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">
						<i class="fas fa-trash-alt fa-lg"></i>
					</button>
				</div>
			</li>
			{{/if}}
			{{/each}}
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 text-center enter_section">

				<form action="/burgers/create" method="POST">
					<input type="text" required class="form-control" name="burger_name" value="" id="enter_text" autofocus="autofocus">
					<h6 class="text-center">Order a new tasty burger to eat...</h6>
					<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
				</form>

			</div>
		</div>
	</div>